Intermediate/Cerebrate-debug.dll.embed.manifest
Intermediate/*
Intermediate/
Debug/Cerebrate-debug.exp
Debug/Cerebrate-debug.ilk
Debug/Cerebrate-debug.lib
Debug/Cerebrate-debug.pdb
Debug/Cerebrate-debug.dll
Debug/Cerebrate-debug.exp
Debug/Cerebrate-debug.ilk
Debug/Cerebrate-debug.lib
Debug/Cerebrate-debug.pdb
_UpgradeReport_Files/UpgradeReport.css
_UpgradeReport_Files/UpgradeReport.xslt
_UpgradeReport_Files/UpgradeReport_Minus.gif
_UpgradeReport_Files/UpgradeReport_Plus.gif
Intermediate/BuildLog.htm
Intermediate/Dll.obj
Intermediate/mt.dep
Intermediate/vc90.idb
Intermediate/vc90.pdb
Release/Cerebrate.dll
Release/Cerebrate.exp
Release/Cerebrate.lib
Source/Cerebrate.h
UpgradeLog.XML
